<header>
  <div class="navbar navbar-dark bg-primary shadow-sm">
    <div class="navbar-brand align-item-center d-flex">
      <i style="font-size: 40px" class="fas fa-shipping-fast">&nbsp; </i>
      <a routerLink="/products" class="navbar-brand align-item-center d-flex">
        <strong style="font-size: 30px">E-Mart</strong>
      </a>
      <div class="form-group">
        <input type="text" class="form-control" placeholder="search products" />
      </div>
      <span class="fas fa-search search-icon"></span>
    </div>
    <ng-container *ngIf="username">
      <div class="user-info">
        Hi {{ username }}!
        <button class="btn btn-danger ml-2" (click)="logout()">Logout</button>
      </div>
    </ng-container>
    <button *ngIf="!username" routerLink="login" class="btn btn-light">
      Login
    </button>
    <button routerLink="contact" class="btn btn-light">Contact</button>
    <button routerLink="cart" class="btn btn-primary">
      <i style="font-size: 30px" class="fas fa-cart-plus"></i>
      <div style="font-size: 10px" class="badge bg-danger">
        {{ totalItems }}
      </div>
    </button>
  </div>
</header>
