<div id="carouselExample" class="carousel slide">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img
        src="https://rukminim1.flixcart.com/fk-p-flap/844/140/image/d889dfee0ed6c044.jpg?q=50"
        class="d-block w-100"
        alt="..."
      />
    </div>
    <div class="carousel-item">
      <img
        src="https://img.freepik.com/free-vector/special-offer-creative-sale-banner-design_1017-16284.jpg"
        class="d-block w-100"
        alt="..."
      />
    </div>
    <div class="carousel-item">
      <img
        src="https://cdn.grabon.in/gograbon/images/web-images/uploads/1622008578414/cake-offers.jpg"
        class="d-block w-100"
        alt="..."
      />
    </div>
    <div class="carousel-item">
      <img
        src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQoW7UoYUb2HVk_XQly4ZCgezeXjcozbsE5ew&usqp=CAU"
        class="d-block w-100"
        alt="..."
      />
    </div>
    <div class="carousel-item">
      <img
        src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRNdlXzAOVTVwkFPeigqotvMx3ixHjHwrsblQ&usqp=CAU"
        class="d-block w-100"
        alt="..."
      />
    </div>
  </div>
  <button
    class="carousel-control-prev"
    type="button"
    data-bs-target="#carouselExample"
    data-bs-slide="prev"
  >
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button
    class="carousel-control-next"
    type="button"
    data-bs-target="#carouselExample"
    data-bs-slide="next"
  >
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
